{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>Balance: {{ balance.amount }}</h2>
    </div>
    <div><h1>Stuur je bericht</h1></div>
    <form action="/bird_messenger">
        <div>
            <input id="input_message" type="text" style="size:500">
        </div>
        <div>
            <input type="submit" value="Stuur">
        </div>
    </form>
{% endblock %}